      <div class="row">
      	<div class="col-mid-12">
      	  <% if !session["giohang"].nil? %>
            <table class="table table-striped table-condensed">
            <thead>
              <th> Stt  </th>
              <th> Ten Hang </th>
              <th> So Luong </th>
              <th> Gia </th>
              <th> Thanh tien</th>
            </thead>
            <tbody>
              <%i = 0%>
              <% tongtien = 0 %>
              <% session["giohang"].each do |gh|%>
                <tr>
                <td> <%= (i = i + 1)%> </td>
                <td> <%= gh['name']%> </td>
                <td> <%= gh['quantity']%> </td>
                <td> <%= gh['price']%> </td>
                <td> <%= gh['total']%> </td> 
                <td> <a href="<%= url_for :controller => 'item_gio_hangs', :action => 'xoahang', :id => gh['id'] %>">  Xoa </a></td>
                <% tongtien = tongtien + gh['total']%>

                </tr>
              <% end %>     
              <tfoot>
              <tr> <td> Thanh tien : </td> <td> <%= tongtien %> </td> </tr>
              </tfoot>
            </tbody>
          </table>
          <div class="col-md-2 col-ofset-6">
              <!-- <form action="/giohangs/xl" method="get" class="form-horizontal">
                <input type="hidden" name="name" class="form-control" value="<%= @xxx %>" id="aaa" > 
                <div class="form-group">
                  <div class="col-sm-2 col-sm-ofset-5">
                    <input type="submit" value="Thanh toan" class="btn btn-primany" />
                  </div>  
                </div>  
              </form> -->
              <%= link_to "thanh toan", thanhtoan_giohangs_path , :class => "btn btn-primany badge click"%>
          </div>
          <% end %>
      	</div>
      </div>
<!--      
<script type="text/javascript">
$( document ).ready(function() {
  $('.click').click(function myFunction() {
      location.href = '<%= url_for :controller => "home", :action => "index" %>';
  });
});
</script>
-->