<div class="content">
<div class="row">
  <div class="col-sm-12">
  	<div class="heading-title">
  	  <h2> <%= @product.name  %></h2>
  	</div>
  </div>
<div class="row jumbotron">
	<div class="col-md-6 col-sm-6">
		<%= image_tag @product.image.url, :class => "img-thumbnail" %>
	</div>
	<div class="col-md-6 col-sm-6">
		<div class="row"><span class="col-sm-3"> <strong><big>Category : </big> </strong> </span> <span class="col-sm-8"> <%= @category.name %> </span>
		</div>
		<br/>
		<div class="row"> <div class="col-sm-3"><span class="price"> $<%= @product.price %></span></div>
		</div>
		<div class="row"> <div class="col-sm-12">
			<h4> description </h4>			
			<p><small><%= @product.info %></small></p>
			</div>
		</div>

		<div class="row"> <div class="col-sm-8">

	<form action="../../item_gio_hangs/" method="get" class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-4" style="line-height:34px;"> So luong : </div>
			<div class="col-sm-8">
			  <input type="number" name="quantity" class="form-control " value="1">
			</div>  
		</div>
		<div class="form-group">			
			  <input type="hidden" name="price" class="form-control" value='<%= @product.price %>'>
			  <input type="hidden" name="id" class="form-control" value='<%= @product.id %>'>
			  <input type="hidden" name="name" class="form-control" value='<%= @product.name %>'>		
		</div>

		<div class="form-group">
			<div class="col-sm-2 col-sm-ofset-5">
			  <input type="submit" value="Add Cart" class="btn btn-primany" />
			</div>  
		</div>	
	</form>
	

		</div>
		</div>
	</div>
	
		<div class="bottom">
		<div class="col-sm-ofset-2">
		
		</div>
	
	</div>
		
</div>
</div>
</div>
